* {
    margin: 0px;
    margin: 0px;
  }
  
  .background_app {
  background-color: #1c325c;
  width: 100%;
  height: 100%;
  } 
  
  .app {
  flex-direction: column;
  }
  
  .header{
    width: 100%;
    height: 450px;
  }

  .header_nav {
    display: flex;
    justify-content: space-between;
    padding-top: 3%;
    height: 120px;  
    margin-right: 2%;
    margin-left: 2%;
  }
  
  .header_nav_left {
    height: 50px;
    width: 50px;
    display: flex;
    background-color: #31343b;
    color: white;
    border-radius: 50%;
    margin-left: 3%;
    margin-bottom: 3%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 5px 5px 15px 1px #060707;
  }
  
  .header_nav_right {
    height: 50px;
    width: 50px;
    display: flex;
    background-color: #31343b;
    color: white;
    border-radius: 50%;
    margin-right: 3%;
    margin-bottom: 3%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 5px 5px 15px 1px #060707;
  }

  .product{
    color: white;
    width: 1000px;
    height: 100px;
    margin-left: 2%;
    margin-right: 2%;
  }

  .platform,
  .realase,
  .price {
    margin-top: 15px;
    margin-bottom: 20px;
  }

.controller {
  transform: rotate(270deg);
  display: flex;
  justify-content: center;
  position: relative;
  top: -210px;
}

.save {
  height: 60px;
  width: 60px;
  display: flex;
  background-color: #31343b;
  color: white;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 5px 5px 15px 1px #1d2020;
  font-size: 1.5em;
  position: relative;
  top: -125px;
}

.product_info {
  position: relative;
  top: 250px;
  color: white;
  background-color: #060707;
  height: 500px;
}

.peculiarities {
  margin-top: 35px;
  display: flex;
  justify-content: space-around;
}

.futuristic,
.bulilt-in,
.haptic, 
.fastcharge {
  height: 50px;
  width: 50px;
  display: flex;
  background-color: #31343b;
  color: white;
  border-radius: 0.5em;
  margin-left: 1%;
  margin-bottom: 3%;
  margin-top: 3%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 5px 5px 15px 1px #060707;
}