* {
  margin: 0%;
  margin: 0%;
}

.background_app {
  background: black;
  height: 100%;
  margin: 1% 2% 1% 2%;
}

.app {
  outline-style: solid;
  color: white;
  height: 98%;
  flex-direction: column;
}

.header_nav {
  display: flex;
  justify-content: space-between;
  outline-style: solid;
  margin: 0 auto;
}

.header_nav_left {
  height: 35px;
  width: 35px;
  border: solid;
  color: white;
  display: flex;
  border-radius: 50%;
  margin-top: 3%;
  margin-left: 3%;
  margin-bottom: 3%;
}

.header_nav_right {
  height: 35px;
  width: 35px;
  border: solid;
  color: white;
  display: flex;
  border-radius: 50%;
  margin-top: 3%;
  margin-right: 3%;
  margin-bottom: 3%;
}

.header_text {
  border: solid;
  color: white;
}

.header_text_1 {
  color: white;
  border: solid;
  height: 45px;
  width: 250px;
  margin-top: 2%;
  margin-left: 1%;
  margin-bottom: 1%;
  display: flex;
  flex-direction: column;
  margin-top: 4%;
  margin-bottom: 1%;
  margin-left: 4%;
}

.header_text_2 {
  color: white;
  border: solid;
  height: 45px;
  width: 250px;
  margin-top: 0;
  margin-left: 1%;
  margin-bottom: 1%;
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  margin-bottom: 4%;
  margin-left: 4%;
}

.nav {
  justify-content:  space-evenly;
  flex-direction: row;
  display: flex;
  padding-top: 2%;
  padding-bottom: 2%;
  border: solid;
  color: white;
}

.nav_catalog {
  color: white;
  border: solid;
  height: 45px;
  width: 50px;
  margin-top: 1%;
  margin-left: 1%;
  margin-bottom: 1%;
  border-radius: 20%;
}

.nav_gamepad {
  color: white;
  border: solid;
  height: 45px;
  width: 50px;
  margin-top: 1%;
  margin-left: 1%;
  margin-bottom: 1%;
  border-radius: 20%;
}

.nav_console {
  color: white;
  border: solid;
  height: 45px;
  width: 50px;
  margin-top: 1%;
  margin-left: 1%;
  margin-bottom: 1%;
  border-radius: 20%;
}

.nav_mouse {
  color: white;
  border: solid;
  height: 45px;
  width: 50px;
  margin-top: 1%;
  margin-left: 1%;
  margin-bottom: 1%;
  border-radius: 20%;
}

.content{
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  padding-top: 2%;
  padding-bottom: 2%;
  border: solid;
  color: white;
}

.content_product_1 {
  color: white;
  border: solid;
  height: 200px;
  width: 200px;
  margin-top: 1%;
  margin-left: 1%;
  margin-bottom: 1%;
}

.content_product_2 {
  color: white;
  border: solid;
  height: 200px;
  width: 200px;
  margin-top: 1%;
  margin-left: 1%;
  margin-bottom: 1%;
}

.content_product_3 {
  color: white;
  border: solid;
  height: 200px;
  width: 200px;
  margin-top: 1%;
  margin-left: 1%;
  margin-bottom: 1%;
}

.footer_nav {
  padding-top: 2%;
  padding-bottom: 2%;
  border: solid;
  color: white;
}

.footer_nav_panel {
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  border: solid;
  color: white;
  margin-left: 10%;
  margin-right: 10%;
}

.footer_nav_panel_home {
  color: white;
  border: solid;
  height: 45px;
  width: 135px;
  margin-top: 1%;
  margin-left: 1.5%;
  margin-right: 1.5%;
  margin-bottom: 1%;
  border-radius: 15%;
}

.footer_nav_panel_account {
  color: white;
  border: solid;
  height: 45px;
  width: 45px;
  margin-top: 1%;
  margin-left: 1.5%;
  margin-right: 1.5%;
  margin-bottom: 1%;
}

.footer_nav_panel_settings {
  color: white;
  border: solid;
  height: 45px;
  width: 45px;
  margin-top: 1%;
  margin-left: 1.5%;
  margin-right: 1.5%;
  margin-bottom: 1%;
}

.footer_nav_panel_save {
  color: white;
  border: solid;
  height: 45px;
  width: 45px;
  margin-top: 1%;
  margin-left: 1.5%;
  margin-right: 1.5%;
  margin-bottom: 1%; 
}