* {
  margin: 0px;
  margin: 0px;
}
.background_app {
background-color: #17181a;
} 

.app {
  height: 98%;
  flex-direction: column;
}

.header_nav {
  display: flex;
  justify-content: space-between;
  padding-top: 3%;
  height: 120px;
}

.product {
  color: white;
  margin-left: 25px;
  padding-bottom: 2zpx;
  display: flex;
  flex-direction: column;
  
}

.platform,
.realase,
.price {
  margin-top: 30px;
  margin-bottom: 30px;
}

.product_container_1 {
  
}

.product_container_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header_nav_left {
  height: 50px;
  width: 50px;
  display: flex;
  background-color: #31343b;
  color: white;
  border-radius: 50%;
  margin-left: 3%;
  margin-bottom: 3%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.menu {
  display: none;
}

.menu > li > a {
  text-decoration: none;
  align-items: center;
  padding: 0 20%;
  color: white;
}

.menu > li > a:hover {
  color: white;
}

/*.popup {
  position: fixed;
  top: 75px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 100;
  display: flex;
  transition: 0.3s;
}*/

.header_nav_right {
  height: 50px;
  width: 50px;
  display: flex;
  background-color: #31343b;
  color: white;
  border-radius: 50%;
  margin-right: 3%;
  margin-bottom: 3%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}


.header_text_1 {
  color: white;
  font-size: 4rem;
  height: 45px;
  width: 250px;
  margin-top: 2%;
  margin-left: 1%;
  margin-bottom: 1%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1%;
  margin-left: 4%;
}

.header_text_2 {
  color: white;
  font-size: 4rem;
  height: 45px;
  width: 250px;
  margin-left: 1%;
  margin-bottom: 1%;
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  margin-bottom: 4%;
  margin-left: 4%;
}

.nav {
  justify-content:  space-evenly;
  flex-direction: row;
  display: flex;
  padding-top: 2%;
  padding-bottom: 2%;
  color: white;
}

.nav_sliders {
  color: #a7adba;
  font-size: 2em;
  height: 45px;
  width: 50px;
  margin-top: 1%;
  margin-left: 1%;
  margin-bottom: 1%;
  border-radius: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav_item {
  color: silver;
  background-color: #31343b;
  font-size: 2em;
  height: 45px;
  width: 50px;
  margin-top: 1%;
  margin-left: 1%;
  margin-bottom: 1%;
  border-radius: 20%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.hover:hover {
   background-color: blue;
  color: white;
  font-size: 2em;
}

.hover_slider:hover {
  color: white;
  font-size: 2em;
}

.content{
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  padding-top: 2%;
  padding-bottom: 2%;
  display: flex;
  
}

.content_product_1,
.content_product_2,
.content_product_3 {
  color: white;
  margin-top: 1%;
  margin-left: 1%;
  margin-bottom: 1%;
  display: flex;
  flex-direction: column;
}

.content_product_1>h2,
.content_product_2>h2,
.content_product_3>h2 {
  font-size: 2em;
}

.info_product {
  position: relative;
  top: 20px;
}

.content_product_bacgroundcart {
  height: 200px;
  width: 200px;
}

.content_product_controller {
  position: relative;
  bottom: 190px;
  left: 30px;
}

.footer_nav {
  color: white;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  margin-left: 10%;
  margin-right: 10%;
  border: #fff solid;
  border-radius: 10%;
}

.footer_nav_home {
  color: white;
  border: solid;
  height: 45px;
  width: 135px;
  margin-top: 1%;
  margin-left: 1.5%;
  margin-right: 1.5%;
  margin-bottom: 1%;
  border-radius: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_nav_account,
.footer_nav_settings,
.footer_nav_save {
  color: white;
  height: 45px;
  width: 50px;
  margin-top: 1%;
  margin-left: 1.5%;
  margin-right: 1.5%;
  margin-bottom: 1%;
  border-radius: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}