* {
  margin: 0px;
  margin: 0px;
}

.background_app {
background-color: #17181a;
} 

.app {
  height: 98%;
  flex-direction: column;
  padding-bottom: 2%;
}

.header_nav {
  display: flex;
  justify-content: space-between;
  padding-top: 3%;
  height: 120px;
}

.product {
  color: white;
  margin-left: 25px;
  padding-bottom: 2px;
  display: flex;
  flex-direction: column;
  
}

.platform,
.realase,
.price {
  margin-top: 30px;
  margin-bottom: 30px;
}

.product_container_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header_nav_left {
  height: 50px;
  width: 50px;
  display: flex;
  background-color: #31343b;
  color: white;
  border-radius: 50%;
  margin-left: 3%;
  margin-bottom: 3%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 5px 5px 15px 1px #060707;
}


.header_nav_right {
  height: 50px;
  width: 50px;
  display: flex;
  background-color: #31343b;
  color: white;
  border-radius: 50%;
  margin-right: 3%;
  margin-bottom: 3%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 5px 5px 15px 1px #060707;
}

.header_text_1 {
  color: white;
  font-size: 4rem;
  height: 45px;
  width: 250px;
  margin-top: 2%;
  margin-left: 1%;
  margin-bottom: 1%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1%;
  margin-left: 4%;
}
  
.header_text_2 {
  color: white;
  font-size: 4rem;
  height: 45px;
  width: 250px;
  margin-left: 1%;
  margin-bottom: 1%;
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  margin-bottom: 4%;
  margin-left: 4%;
}

.nav {
  justify-content:  space-evenly;
  flex-direction: row;
  display: flex;
  padding-top: 2%;
  padding-bottom: 2%;
  color: white;
}

.nav_sliders {
  color: #a7adba;
  font-size: 2em;
  height: 45px;
  width: 50px;
  margin-top: 1%;
  margin-left: 1%;
  margin-bottom: 1%;
  border-radius: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.nav_item {
  color: silver;
  background-color: #31343b;
  font-size: 2em;
  height: 45px;
  width: 50px;
  margin-top: 1%;
  margin-left: 1%;
  margin-bottom: 1%;
  border-radius: 20%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 5px 5px 15px 1px #060707;
  cursor: pointer;
}

.hover:hover {
   background-color: blue;
  color: white;
  font-size: 2em;
}

.hover_slider:hover {
  color: white;
  font-size: 2em;
}

.content{
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  /*padding-top: 2%;
  padding-bottom: 2%;*/
  display: flex;
}

.content_product_1,
.content_product_2,
.content_product_3 {
  color: white;
  margin-top: 1%;
  margin-left: 1%;
  margin-bottom: 1%;
  display: flex;
  flex-direction: column;
}

.content_product_1>h2,
.content_product_2>h2,
.content_product_3>h2 {
  font-size: 2em;
}

.info_product {
  position: relative;
  top: 20px;
}

/*.content_product_bacgroundcart {
  
}*/

.content_product_controller {
  position: relative;
  bottom: 190px;
  left: 30px;
}

.rotate_controller {
  transform: rotate(270deg);
}

.footer_nav {
  color: white;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  margin-left: 15%;
  margin-right: 15%;
  border-radius: 0.5em;
  background-color: #323838;
  width: 70%;
  height: 50px;
  padding-top: 11px;
}

.footer_nav_home {
  color: white;
  border: solid;
  border-radius: 3em;
  height: 30px; 
  width: 135px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  cursor: pointer;
}

.footer_nav_account,
.footer_nav_settings,
.footer_nav_save {
  color: white;
  height: 40px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}